<div>
  <div style="border: 1px solid; display: flex; flex-direction: column; gap: 10px; padding: 10px;">
    <h2 style="text-align: center;">Tax Invoice</h2>
      <div style="display: flex; align-items: center;">
        <div style="display: flex; align-items: start; flex-direction: column; gap: 10px; width: 50%">
          <div *ngFor="let data of leftMetaData" style="display: flex">
            <div style="width: 150px">
              <label>{{ data.label }}</label>
            </div>
            <span>: {{ data.value }}</span>
          </div>
        </div>
        <div style="display: flex; align-items: start; flex-direction: column; gap: 10px; width: 50%">
          <div *ngFor="let data of rightMetaData" style="display: flex">
            <div style="width: 150px">
              <label>{{ data.label }}</label>
            </div>
            <span>: {{ data.value }}</span>
          </div>
        </div>
      </div>
  </div>
</div>
