<table cellspacing="0" cellpadding="5" style="width: 100%; font-family: Arial, Helvetica, sans-serif; margin: 0;">
  <tbody>
  <tr style="margin-bottom: 45px">
    <td valign="top"><img align="right" src="assets/images/CWC.png" width="60" /></td>
    <td width="70%" valign="top" align="center">
<!--      <h1 style="font-size: 16px; margin: 0; padding: 0;">CENTRAL WAREHOUSING CORPORATION</h1>-->
<!--      <label style="display: block; font-size: 7pt; line-height: 22px;">(A Govt. of India Undertaking) </label><br />-->
<!--      <span style="font-size: 7pt; padding-bottom: 10px;">-->
<!--                    107-109 , EPIP Zone , KIADB Industrial Area <br />-->
<!--                    Whitefield , Bengaluru, Pin. - 560066-->
<!--                </span>-->
      <br />
      <label style="font-size: 7pt; font-weight: bold;">CASH RECEIPT</label>
    </td>
    <td valign="top"><div  style="width: 100px"></div></td>
  </tr>
  <tr>
    <td colspan="12">
      <table style="border: 1px solid #000; padding: 10px; width: 100%; margin-bottom: 10px;" cellspacing="0" cellpadding="5">
        <tbody>
        <tr>
          <td>
            <table style="width: 100%; margin-bottom: 10px;" cellspacing="0" cellpadding="5">
              <tbody>
              <tr>
                <td colspan="9" width="80%" style="font-size: 7.5pt; line-height: 26px;"><label style="font-weight: bold; font-size: 8.5pt;">No.</label> <span>{{pdfData?.header?.receiptNo}}</span></td>
                <td colspan="3" width="20%" style="font-size: 7pt; line-height: 26px; text-align: right;"><label style="font-weight: bold; font-size: 7.5pt;">Date : </label> <span>{{pdfData?.header?.receiptDate | date : "dd-MMM-yy"}}</span></td>
              </tr>
              <tr>
                <td colspan="9" style="font-size: 7pt; line-height: 26px;"><label style="font-weight: bold; font-size: 7.5pt;">By : </label><span>{{pdfData?.header?.payeeName}}</span></td>
                <td colspan="3" style="font-size: 13px; line-height: 26px;"><label style="font-weight: bold;"> </label><span></span></td>
              </tr>
              <tr>
                <td colspan="12" style="font-size: 7pt; line-height: 26px; border-bottom: 1px solid #000; padding-bottom: 5px;">
                  <label style="font-weight: bold; font-size: 7.5pt;">Party Address : </label><span></span>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="text-align: center;">
          <td style="text-align: center;">
            <table style="border: 1px solid #000; border-bottom: 0; width: 50%;" align="center" cellspacing="0" cellpadding="10">
              <thead>
              <tr>
                <th style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; padding: 5px;">Invoice No</th>
                <th style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; padding: 5px;">Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{pdfData?.header?.invoiceNo}}</td>
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{utilService.formatCurrency(pdfData?.header?.invoiceValue)}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="border: 1px solid #000; border-bottom: 0; width: 70%;" align="center" cellspacing="0" cellpadding="5">
              <thead>
              <tr>
                <th rowspan="2" style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 60px;">Mode</th>
                <th rowspan="2" style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 140px;">Drawee Bank</th>
                <th colspan="2" style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 100px;">Instrument</th>
                <th rowspan="2" style="border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 50px;">Amount</th>
              </tr>
              <tr>
                <th style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 80px;">No</th>
                <th style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 100px;">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of pdfData?.details">
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{item.payMode}}</td>
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{item.draweeBank}}</td>
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{item.instrumentNo}}</td>
                <td style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{item.date | date : 'dd/MM/yyyy'}}</td>
                <td style="border-bottom: 1px solid #000; font-size: 7pt; text-align: center;">{{utilService.formatCurrency(item.amount)}}</td>
              </tr>
              <tr>
                <td colspan="4" style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: right; font-weight: bold;">TDS</td>
                <td colspan="1" style="border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 50px;">{{utilService.formatCurrency(pdfData?.header?.tdsAmount)}}</td>
              </tr>
              <tr>
                <td colspan="4" style="border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 7pt; text-align: right; font-weight: bold;">Total Payment Receipt Amount</td>
                <td colspan="1" style="border-bottom: 1px solid #000; font-size: 7pt; text-align: center; width: 50px;">{{utilService.formatCurrency(pdfData?.header?.totalPaymentReceipt)}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="border-top: 1px solid #000; border-left: 1px solid #000; width: 100%; margin-bottom: 10px; border-right: 1px solid #000; border-bottom: 1px solid #000;" cellspacing="0" cellpadding="10">
        <tbody>
        <tr>
          <th style="font-size: 7pt; text-align: left; padding: 5px;" colspan="12">In Words : {{utilService.convertAmountToWords(pdfData?.header?.totalPaymentReceipt)}}</th>
        </tr>
        </tbody>
      </table>
      <table style="width: 100%; margin-bottom: 30px;" cellspacing="0" cellpadding="10">
        <tbody>
        <tr>
          <td width="10%" align="right" style="font-size: 7pt;"><b>Remarks : </b></td>
          <td colspan="2" width="85%" style="font-size: 7pt;">{{ pdfData?.header?.remarks }}</td>
        </tr>
        </tbody>
      </table>
      <table style="width: 100%; margin-bottom: 10px;" cellspacing="0" cellpadding="10">
        <tbody>
        <tr>
          <th style="width: 60%;"></th>
          <th style="border-top: 1px solid #000; font-size: 7pt; text-align: center; padding: 5px;">For Central Warehousing Corporation</th>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
