<div class="custom-auto-complete" #ref>
  <div [class]="class + ' form-group'">
    <label *ngIf="!!label">{{ label }}</label>
    <div class="position-relative">
      <input
             [attr.placeholder]="placeholder"
             [disabled]="isDisabled()"
             type="text"
             [ngModel]="inputValue()"
             (ngModelChange)="onInput($event)"
             (focus)="setShowOptions(true)"
      >
      <span class="input_icon"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>
  <ng-container *ngIf="showOptions()">
  </ng-container>
</div>
