<nav class="navbar d-flex justify-content-between align-items-center">
  <div class="d-flex gap-3">
    <button (click)="toggleSideNav()" class="hamburger">
      <span id="Menu_btn" class="fa fa-2x fa fa-bars"></span>
    </button>
    <div class="d-flex align-items-center logo-container position-relative">
      <img src="assets/images/CWCPDF.PNG">
      <span class="position-relative">|</span>
      <div class="d-flex flex-column title-branch-container">
        <h6 class="title">Exim Management System</h6>
        <h4 class="branch">NSEZ</h4>
      </div>
    </div>
  </div>
  <div>
  </div>
</nav>
<div *ngIf="!isSideNavCollapsed() && isSmallDevice()" (click)="toggleSideNav()" class="menu-overlay"></div>
<div class="body-container">
  <ul [class.expanded]="!isSideNavCollapsed()" class="menu-container">
    <li *ngFor="let menu of menus; let index = index" class="nav-item">
      <ng-container *ngTemplateOutlet="menuTemplate; context: {  $implicit: menu, level: 1, index }"></ng-container>
    </li>
  </ul>
  <div [class.expanded]="!isSideNavCollapsed()" class="main-container">
    <h4 class="page-heading">{{breadCrumbService.title$ | async}}</h4>
    <div class="main-content">
      <div *ngIf="toastService.detailedError$ | async as error" class="validation-error d-flex justify-content-center">
        <div class="alert alert-warning" role="alert">
          <ul class="m-0">
            <i (click)="toastService.detailedError$.next(null)" class="fa fa-times-circle"></i>
            <li *ngFor="let error of getFormattedError(error)">
              <span>{{error.key}}</span>: <span>{{error.error}}</span>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #menuTemplate let-menu let-level="level" let-index="index">
  <a [class.nested]="level > 1" class="nav-link d-flex justify-content-between align-items-center gap-2"
    [class.active]="isActiveLink(menu.path)" [class.has-child]="menu.children?.length"
    (click)="clickMenu($event, menu, index)" [href]="'/' + (menu.path ?? '')">
    <span>{{ menu.label }}</span>
    <i *ngIf="menu.children" [class]="expandedMenu().get(index) ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
  </a>
  <div *ngIf="expandedMenu().get(index)" class="expanded">
    <ng-container *ngFor="let subMenu of (menu.children ?? [])">
      <ng-container *ngTemplateOutlet="menuTemplate; context: {  $implicit: subMenu, level: level + 1 }"></ng-container>
    </ng-container>
  </div>
</ng-template>
