<div class="card">
  <form [formGroup]="form">
    <div class="row">

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>* Effective Date:</label>
          <div (click)="effectiveDatePicker.open()" class="position-relative">
            <input formControlName="EffectiveDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
              #effectiveDatePicker="ngbDatepicker" />
            <span class="input_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <ng-container *ngIf="hasError('EffectiveDate')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>* Operation Type:</label>
          <select formControlName="OperationId" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let operationType of operationTypes" [value]="operationType.value">{{operationType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('OperationId')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>* Operation Code:</label>
          <input formControlName="operationCode" placeholder="Enter Operation Code" type="text">
          <ng-container *ngIf="hasError('operationCode')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Container Type:</label>
          <select formControlName="ContainerType" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let containerType of containerTypes" [value]="containerType.value">{{containerType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('ContainerType')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Type:</label>
          <select formControlName="Type" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let type of types" [value]="type.value">{{type.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('Type')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Size:</label>
          <select formControlName="Size" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let size of sizes" [value]="size.value">{{size.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('Size')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Max Distance:</label>
          <input formControlName="MaxDistance" placeholder="Enter Max Distance" type="number">
          <ng-container *ngIf="hasError('MaxDistance')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>* Commodity Type:</label>
          <select formControlName="CommodityType" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let commodityType of commodityTypes" [value]="commodityType.value">{{commodityType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('CommodityType')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Container Load Type:</label>
          <select formControlName="ContainerLoadType" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let containerLoadType of containerLoadTypes" [value]="containerLoadType.value">
              {{containerLoadType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('ContainerLoadType')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Transport From:</label>
          <select formControlName="TransportFrom" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let transportFrom of transportFromList" [value]="transportFrom.value">{{transportFrom.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('TransportFrom')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="form-group">
          <label>Exim Type:</label>
          <select formControlName="EximType" class="dropdown" placeholder="Enter RMS">
            <option value="">---Select---</option>
            <option *ngFor="let eximType of eximTypes" [value]="eximType.value">{{eximType.label}}
            </option>
          </select>
          <ng-container *ngIf="hasError('EximType')">
            <span class="error">Required field</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="bordered-container">
      <div class="row">
        <div class="col-md-12">
          <p class="title">Rate</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="form-group">
            <label>CWC Rate:</label>
            <input formControlName="RateCWC" placeholder="Enter CWC Rate" type="text">
            <ng-container *ngIf="hasError('RateCWC')">
              <span class="error">Required field</span>
            </ng-container>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="form-group">
            <label>* Contractor Rate:</label>
            <input formControlName="ContractorRate" placeholder="Enter Contractor Rate" type="text">
            <ng-container *ngIf="hasError('ContractorRate')">
              <span class="error">Required field</span>
            </ng-container>
          </div>
        </div>
      </div>

    </div>

    <hr />
    <div class="d-flex justify-content-left gap-2">
      <button type="button" class="btn btn-primary form-btn" (click)="submit()">Save</button>
      <button type="button" class="btn btn-outline-primary form-btn" (click)="reset()">Reset</button>
    </div>
  </form>

  <div class="mt-2 d-flex flex-column gap-2">
    <app-data-table [headers]="headers" [url]="apiUrls.LIST"></app-data-table>
  </div>
</div>
