<div class="card">
  <div class="secondary-form-container">
    <form [formGroup]="form">
      <div class="row">
        <div class="px-2.5">
          <div class="primary-heading-container">
            <p>Delivery Application</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="form-group">
            <label>Delivery Application No:</label>
            <input formControlName="deliveryNo" placeholder="Enter Delivery Application No" type="text">
            <ng-container *ngIf="hasError('deliveryNo')">
              <span class="error">Required field</span>
            </ng-container>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6">
          <app-auto-complete keyName="destuffingEntryNo" keyValue="destuffingEntryId" label="Destuffing Entry No:" title="List of Destuffing Entry No" placeholder="Select Destuffing Entry No" formControlName="destuffingId" [options]="destuffingList()" />
        </div>

        <div class="col-sm-6">
          <app-auto-complete keyName="partyName" keyValue="partyId" label="CHA:" title="List of CHA" placeholder="Select CHA" formControlName="chaId" [options]="chaList()" />
        </div>
        <app-delivery-application-details [records]="entryDetails()" [oblList]="oblList()" [importerList]="importerList()" [isViewMode]="isViewMode()" (changeEntryDetails)="changeEntryDetails($event)" />
      </div>

      <hr />
      <div class="d-flex justify-content-left gap-2">
        <ng-container *ngIf="isViewMode(); else formActionButton">
          <button type="button" class="btn btn-primary form-btn" (click)="setEditMode()">Edit</button>
        </ng-container>
        <ng-template #formActionButton>
          <button [disabled]="isSaving()" type="button" class="btn btn-primary form-btn" (click)="submit()">Save</button>
        </ng-template>
        <button type="button" class="btn btn-outline-primary form-btn" (click)="reset()">Reset</button>
      </div>
    </form>

    <div class="mt-2 d-flex flex-column gap-2">
      <app-data-table [headers]="headers" [url]="apiUrls.LIST"></app-data-table>
    </div>
  </div>
</div>
